*.pyc
*.pkl
*.npy

sent2sent/data/
sent2sent/model/
sent2sent/log_dir/
!sent2sent/data/_toy_Dec.txt
!sent2sent/data/_toy_Enc.txt
!sent2sent/data/MSEparaphraseCorpus/*
!sent2sent/data/SICK/*

sent2vec/data/
sent2vec/model/
sent2vec/sentences/
sent2vec/vectors/
!sent2vec/sentences/sample.txt
!sent2vec/vectors/sample.pkl

vec2sent/data/
vec2sent/model/
vec2sent/log_dir/
vec2sent/results/
vec2sent/sentences/
vec2sent/vectors/
!vec2sent/sentences/sample.txt
!vec2sent/vectors/sample.pkl

hrne/log/
hrne/model/
hrne/sentences/
hrne/skipthought/
hrne/tacos/

ba_captioning/
nyt_corpus/
